.thumbnail img {
	width: 100%;
	height: 100%;
}

.thumbnail {
	padding: 0;
	height: 95%;
}

.imgdiv {
	width: 100%;
	height: 60%;
}

.caption {
	padding: 0;
}

.caption-full .thumbnail {
	padding: 9px;
}


.delete-form {
	display: inline;
}